<!-- nav -->
<nav class="nav" id="nav" class="scroll-fix">
    <div class="inner-nav">
        <div class="hamburger" id="hamburger">≡</div>
        <ul id="menu">
            <li><a href="#top" class="title anchor">Jack Witbrock Finlay</a></li>
            <li><a href="#about" class="anchor">about</a></li>
            <li><a href="#portfolio" class="anchor">portfolio</a></li>
            <li><a href="#resume" class="anchor">r&#233;sum&#233;</a></li>
            <li><a href="#contact" class="anchor">contact</a></li>

        </ul>
        
    </div>
</nav>
<!-- /nav -->